body {
   height:300vh;
}

div.nav {
    background:#111111;
    color: white;
    vertical-align: middle;
}

#hamburger {
    right: 10em;
    top: -25px;
    padding: 0px;
    border:0px;
    width: 40px;
    height: 40px;
    background-color: black;
    background-image:url("hamburger.png");
    background-size:cover;
    z-index: 20;
}

.nav div {
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    bottom: 8px;
    width: 160px;
}
#nav_box {
    position: fixed;
    right: -10em;
    margin: 5px;
    height: 90vh;
    z-index: 10;
}
#nav_name {
    position: fixed;
    margin-top: 5px;
    top: 0px;
    left: 0px;
    height: 50px;
    width: 100vw;
    display: table;
}

#name_holder {
    width: 20em;
}

.content_title {
    padding-left: 20px;
}

h3 {
    font-family: 'Quicksand', sans-serif;
}

h2 {
    font-variant: small-caps;
    letter-spacing: 3px;
    font-family: 'Quicksand', sans-serif;
}

.nav h2 {
    display: table-cell; 
    padding-top: 0px;
    vertical-align: middle;
    font-family: 'Quicksand', sans-serif;
}
.nav h1 {
    letter-spacing: 3px;
    display: table-cell; 
    padding-top: 0px;
    vertical-align: middle;
    font-family: 'Quicksand', sans-serif;
    width:8em;
    font-weight: unset;
}

a:visited {
    color: #223;
}

.code {
    font-family:monospace;
}

#top_background {
    height:8em;
    background: #1D225B;
    margin: 40px;
}

#name {
    vertical-align: middle;
    display: inline-block;

}

#name_box {
    color: #9B9DB5;
    width: 10em;
    text-align:center;
    font-family: 'Nanum Gothic', sans-serif;
}

.nav .button {
    position: relative;
    height: 25px;
    width: 7.5em;
    border-color: #111111;
    border-style: solid;
    border-width: 1px;
    border-bottom-width: 0px;
    border-left-width:0px;
    border-right-width:0px;
    text-align: center;
    line-height: 25px;
    font-family: 'Quicksand', sans-serif;
    
}

.nav .button:hover {
    background-color: #222222;
}

#button_group {
    padding: 0;
    top: 0;
    right: 0;
    height: 100vh;
    width: 10em;
}

.content_box {
    width: 100%;
    height: 1000px;
    left:0px;
    position: fixed;
    padding-left: 2px;
    border-top-style: solid;
    border-top-color:#000000;
    border-top-width: 2px;
    background: white;
}

#content_projects {
    background:#222222;
}
#content_projects p {
    color: white;
}
#content_projects h2 {
    font-variant:small-caps;
    color:white;
}

.content_box p {
    font-family: 'Noto Serif', sans-serif;
    font-size: 15;
}

.content_inner {
    width: 90vw;
    max-width: 770px;
    margin-left: 20px;
    height: 500px;
}

#spaceship_holder {
    max-width: 60vw;
    max-height: 25vh;
    margin-right: 10px;
}

#about_holder {
    position: relative;
    left: 0px;
    max-width: 45vw;
    max-height: 40vh;
    float: left;
    margin-bottom:10px;
    margin-right: 5px;
}

#spaceship {
    max-width: 60vw;
    max-height: 25vh;
    height: auto;
    width: auto;
}

#about_spacer{
    display: inline-block;
    width: 10px;
}

.about_text_holder {
    position: relative;
    display:inline-block;
    vertical-align:top;
    width: 45vw;
    border-width: 1px;
    margin-top:-20px;
    max-width: 42vw;
}

#about_more_text {
    width: auto;
    max-width: 290px;
}

.proj_icon {
    position: relative;
    left:-1px;
    width: 90%;
    vertical-align: middle;
}

.proj_icon_box {
    position: relative;
    white-space: nowrap;
    width: 8vh;
    height: 8vh;
    border-style:dotted;
    border-width: 1px;
    border-color:white;
    padding:1px;
    display: inline-block;
    vertical-align:middle;
    margin-right: 10px;

}

.proj_icon_helper {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.proj_icon_container {
    height: 8vh;
    width: 80vw;
    margin-top: 10px;
    
}

.proj_icon_text {
    position: relative;
    width: calc(80vw - 10vh);
    left: 10vh;
    top: -6vh;
}
.proj_icon_text p {
    font-size: 12px;
}

#proj_sidebar {
    width: 9vh;
    max-width: 100px;
}

.project_contents{
    background:#222222;
    width: 80vw;
    max-width: 600px;
    left: 10vh;
    border-top-style: solid;
    border-top-color:gray;
    border-top-width: 2px;
}

.project_contents h3{
    color: white;
}

.project_contents p{
    color: white;
}

.project_contents a{
    color: white;
}
